<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>Design Mueble</title>
</head>
<body>
    <div class="contenedorPrincipal">
        <!-- Inicio del header -->
        <header class="contenedorHeader">
            <img src="../img/logo.png" alt="" class="logo">
            <!-- inicio nav -->
            <nav>
                <ul class="listaNav">
                    <li><a href="../index.html">Inicio </a></li>
                    <li><a href="productos.html">Productos </a></li>
                    <li><a href="nuestroTrabajo.html">Nuestro Trabajo </a></li>
                    <li><a class="local">Contacto</a></li>
                    <li><a href="ubicacion.html">Ubicación </a></li>
                </ul>
            </nav>
            <!-- Cierro nav-->            
        </header>
        <!-- Final del header-->

        <!-- Inicio del contenido-->
        <div class="contenedorContenido">
            <h1> Contacto </h1>
            <article>

                <!-- inicio form -->
                <form action="" class="formContacto">
                    <fieldset>
                        <legend>Informacion Personal</legend>
                        <a>Nombre:</a>
                        <br>
                        <input type="text" placeholder="Nombre" class="textFocus"><br>
                        <br>
                        <a>Apellido:</a>
                        <br>
                        <input type="text" placeholder="Apellido" class="textFocus"><br>
                        <br>
                        <a>Email:</a>
                        <br>
                        <input type="email" placeholder="Email" class="textFocus" required><br>
                        <br>
                        <label for="Sexo">
                            Sexo:
                            <br>
                            <input type="radio" name="sexo">Hombre <input type="radio" name="sexo">Mujer <input type="radio" name="sexo">Otro
                        </label>
                        <br>
                        <br>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                        <br>
                        <br>
                        <a>¿Quiere recibir noticias y ofertas de esta página?</a>
                        <input type="checkbox">
                        <br>
                        <br>
                        <input type="reset" value="Limpiar formulario" name="Limpiar">
                        <input type="submit" value="Enviar">
                    </fieldset>
                </form>
                <!-- fin form -->

            </article>
            <h5 class="parrafoContacto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo libero, pulvinar eu mollis sit amet, egestas porta nunc. Phasellus eleifend ante diam, pulvinar consectetur lacus pellentesque ac. Sed eu odio eu nisi maximus sodales in at sem. Proin vitae vehicula ligula, tristique hendrerit mauris. Donec bibendum volutpat purus, nec vulputate lacus ultrices hendrerit. In pulvinar felis et tortor mollis, eget pharetra neque fermentum. Nulla molestie quis neque non gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </h5>
        </div>
        <div class="wave">
            <img src="../img/wave.svg" alt="">
        </div>
        <footer class="contenedorFooter">
            Design Muebles©. Todos los derechos reservados.

        </footer>
    </div>
<body>
    
</body>
</html>